   .menu ul li{ 
  background-color: #FFB6C1;
  float: left;
  width: 20%;
  height: 50%;
  display: inline-block;
  text-align: center;
  line-height: 160%;
  font-size: 200%;
  position: relative;
}
   .menu ul li:hover{
  background-color:#CD3278;
}
      a{
            font-family: all;
            color: white;
}
     a:hover{
            font-family: all;
            color:black;
}

      h2{
            font-family: all;
            color: black;
}
      
      h1{
            font-family: all;
            color:black;
}

      p{
            font-family: all
}

 .text-s{
 text-shadow: 6px 6px 5px #828282;
}
.brinde {
         width:45%;
         height: 10%;
         color: white;
         margin-bottom: 20px;
         padding-left: 7px;
         background-color: #FFB6C1;
         margin-top: 5px; 

         border:double 8px white;
         border-top-left-radius:15px;
         border-top-right-radius:14px;
         border-bottom-left-radius:15px;
         border-bottom-right-radius:16px;
        
         opacity : 0.8;

         margin-top: 20px;
         margin-left: 25%;

         box-shadow: 10px 10px 10px #828282;
}

.conteudo {
  
         width: 45%;
         height: 30%;
         color: white;
         margin-bottom: 20px;
         padding-left: 7px;
         background-color: #FFB6C1;
         margin-top: 5px; 

         border:double 8px white;
         border-top-left-radius:15px;
         border-top-right-radius:14px;
         border-bottom-left-radius:15px;
         border-bottom-right-radius:16px;
        
         opacity : 0.8;

         margin-top: 20px;
         margin-left: 25%;

         box-shadow: 10px 10px 10px #828282;
}

        
body{
            font-family: sans-serif;
            background-color:#C0C0C0;
            background-image: url("fundao2.jpg");
            background-size: 110%;
}


 .produtos{
         width: 54.25%;
         height: 150%;

         background-color: #FFB6C1;
         float: left;

        /* border-color: gray;
         border-style: outset;
         border-width: 2px;
         border-top-left-radius: 30px;
         border-bottom-right-radius: 30px;*/

        border:double 8px white;
        border-top-left-radius:15px;
        border-top-right-radius:14px;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:16px;


         margin-top: 20px;
         margin-left: 20%;

         padding-top: 10px;
         padding-left: 10px;
         padding-bottom: 10px;
         padding-right: 10;

         box-shadow: 10px 10px 10px #828282;
         
        /* animation-duration: 3s;
         animation-name: slidein;
         animation-iteration-count: infinite;
        animation-direction: alternate;


         animation-name: animacao1;
  animation-duration: 3s;
  animation-direction: normal;
*/

       }

@keyframes trans { 
  from { 
     width: 8%;
     height: 70%;
  } 
  to { 
    width: 16%;
    height: 200%; 
  } 

}

.contato{

         width: 46.5%;
         height: 140%;

         background-color: #FFB6C1;
         float: left;

        /* border-color: gray;
         border-style: outset;
         border-width: 2px;
         border-top-left-radius: 30px;
         border-bottom-right-radius: 30px;*/

        border:double 8px white;
        border-top-left-radius:15px;
        border-top-right-radius:14px;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:16px;

         margin-top: 20px;
         margin-left: 20%;
         

         padding-top: 10px;
         padding-left: 10px;
         padding-bottom: 10px;
         padding-right: 10;

         box-shadow: 10px 10px 10px #828282;
      


}

.imprimir{

         width: 8%;
         height: 70%;
         position: right;

         background-color: #FFB6C1;
         float: right;
         text-align: center;

         border:double 5px white;
         border-top-left-radius:15px;
         border-top-right-radius:14px;
         border-bottom-left-radius:15px;
         border-bottom-right-radius:16px;

         box-shadow: 10px 10px 10px #828282;

         animation-duration: 5s;
         animation-name:trans;
         
        animation-direction: alternate;

}
